
<h1><%= @destination.name %></h1>

<h2>Most Recent Posts:</h2>

<% most_recent = @destination.posts.sort_by{|post| post.created_at}.reverse %>

<% most_recent[(0..4)].each do |post|%>
    <li><%= link_to post.title, post_path(post)%></li>
<% end %>

<h2>Featured Post:</h2>

<% top_post = @destination.posts.max_by{|post| post.likes}%>

<%= link_to top_post.title, post_path(top_post)%>

<% value = "N/A"%>

<% if @destination.bloggers.length > 0%>

    <% value = @destination.bloggers.inject(0){|sum, blogger| sum = sum + blogger.age} / @destination.bloggers.length %>

<% end %>

<h3>Average age of bloggers: <%= value %></h3>